*{
  background-color: rgb(212, 249, 157);
  margin-top:0;
  /* padding: 0; */
}
.button_container{
  grid-template-columns:repeat(4,100px);
  display: grid;
}
button{
  text-align: center;
  padding: 10px;
  color: rgb(3, 8, 72);
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.calculator_input{
  width: 393px;
  margin-bottom: 0;
  margin-top: 0;
  background-color:rgb(230, 230, 245);
  height: 40px;
}